@import './lolColors.scss';

.big-card-abilities-title {
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
}

.big-card-abilities-nav {
  padding-bottom: 0.4em;
  margin-bottom: 0.7em;
  display: flex;
  gap: 1em;
  border-bottom: 2px solid map-get($map: $lol-colors, $key: 'dark-gold');
}

.big-card-abilities-nav-item {
  &:nth-child(1) {
    padding-right: 1em;
    border-right: 1px solid map-get($map: $lol-colors, $key: 'dark-gold');
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7em;

  & > img {
    width: 40px;
    height: 40px;
    transition: all 150ms ease;
  }

  &:hover {
    & > img {
      box-shadow: 0 0 10px 2px map-get($map: $lol-colors, $key: 'light-gold');
    }

    .big-card-ability-name {
      color: map-get($map: $lol-colors, $key: 'light-gray');
    }
  }
}

.big-card-ability-name {
  transition: all 150ms ease;
  font-size: 0.7em;
}

.big-card-ability-active {
  & > img {
    width: 40px;
    height: 40px;
    transition: all 150ms ease;

    border-color: map-get($map: $lol-colors, $key: 'light-gold');
    box-shadow: 0 0 10px 1px map-get($map: $lol-colors, $key: 'light-gold');
  }

  & > h6.big-card-ability-name {
    color: map-get($map: $lol-colors, $key: 'light-gray');
  }
}

.big-card-abilities-description {
  // min-height: 100px;
}
