@import './lolColors.scss';

.big-card-abilities-container {
  max-width: 700px;
}

.big-card-abilities-container-title {
  color: map-get($map: $lol-colors, $key: 'light-gray');
  letter-spacing: 0.05em;
}

.big-card-abilities-nav {
  padding-bottom: 0.7em;
  margin-bottom: 0.7em;
  display: flex;
  gap: 1em;
  border-bottom: 2px solid map-get($map: $lol-colors, $key: 'dark-gold');
}

.big-card-abilities-nav-item {
  &:nth-child(1) {
    padding-right: 1em;
    border-right: 1px solid map-get($map: $lol-colors, $key: 'dark-gold');
  }

  & > img {
    width: 40px;
    height: 40px;
    border: 1px solid map-get($map: $lol-colors, $key: 'dark-gold');
    // border-radius: 50%;
  }
}

.big-card-abilities-content {
  color: map-get($map: $lol-colors, $key: 'light-gray');
}
