$lol-colors: (
  'bg-gradient-from': #020d15,
  'bg-gradient-to': #0a3040,
  'black': rgba(0, 0, 0, 0.65),
  'app-background': rgba(5, 27, 46, 1),
  'medium-blue': #01445b,
  'dark-blue': #01273e,
  'dark-gold': #b99149,
  'dark-gray': #929188,
  'dark-green': #09a646,
  'light-gold': #f2e59c,
  'light-gray': #d0d8cf,
  'light-blue': #049eaa,
  'light-green': #2cc467,
);

.bg-gradient-blue {
  background: rgba(5, 27, 46, 1);
  background: linear-gradient(
    180deg,
    map-get($map: $lol-colors, $key: 'bg-gradient-from') 90%,
    map-get($map: $lol-colors, $key: 'bg-gradient-to') 100%
  );
}

.text-tab {
  display: inline-block;
  width: 0.5em;
}

.border-gold {
  border: 1px solid map-get($map: $lol-colors, $key: 'dark-gold');

  &:hover {
    border-color: map-get($map: $lol-colors, $key: 'light-gold');
  }
}

.bg-black {
  background-color: map-get($map: $lol-colors, $key: 'black');
}

.bg-medium-blue {
  background-color: map-get($map: $lol-colors, $key: 'medium-blue');
}

.bg-dark-blue {
  background-color: map-get($map: $lol-colors, $key: 'dark-blue');
}

.bg-dark-gold {
  background-color: map-get($map: $lol-colors, $key: 'dark-gold');
}

.bg-dark-green {
  background-color: map-get($map: $lol-colors, $key: 'dark-green');
}

.bg-light-gold {
  background-color: map-get($map: $lol-colors, $key: 'light-gold');
}

.bg-light-blue {
  background-color: map-get($map: $lol-colors, $key: 'light-blue');
}

.bg-light-green {
  background-color: map-get($map: $lol-colors, $key: 'light-green');
}

// TEXT
.text-black {
  color: map-get($map: $lol-colors, $key: 'black');
}

.text-medium-blue {
  color: map-get($map: $lol-colors, $key: 'medium-blue');
}

.text-dark-blue {
  color: map-get($map: $lol-colors, $key: 'dark-blue');
}

.text-dark-gold {
  color: map-get($map: $lol-colors, $key: 'dark-gold');
}

.text-dark-green {
  color: map-get($map: $lol-colors, $key: 'dark-green');
}

.text-light-gold {
  color: map-get($map: $lol-colors, $key: 'light-gold');
}

.text-light-blue {
  color: map-get($map: $lol-colors, $key: 'light-blue');
}

.text-light-green {
  color: map-get($map: $lol-colors, $key: 'light-green');
}

.text-light-gray {
  color: map-get($map: $lol-colors, $key: 'light-gray');
}

.text-dark-gray {
  color: map-get($map: $lol-colors, $key: 'dark-gray');
}
