@import './lolColors.scss';

$navbarHeight: 3.6em;

.lol-navbar {
  background: rgba(5, 27, 46, 1);
  background: linear-gradient(
    180deg,
    map-get($map: $lol-colors, $key: 'bg-gradient-from') 90%,
    map-get($map: $lol-colors, $key: 'bg-gradient-to') 100%
  );

  display: flex;
  align-items: center;
  padding: 1em 2em;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  z-index: 9999;

  @media (max-width: 630px) {
    flex-direction: column;

    & > .navbar-search-field {
      margin-top: 1em;
      margin-left: 0;
    }
  }

  @media (max-width: 450px) {
    & > .navbar-search-field {
      transform: scale(0.9);
    }
  }

  @media (max-width: 350px) {
    font-size: 4vw;
    & > .navbar-search-field {
      transform: scale(0.7);
    }
  }
}

.navbar-home {
  display: flex;
  align-items: center;
}

img.lol-logo {
  width: 2.1875em;
  height: 2.1875em;
  margin-right: 1em;
}

h5.lol-title {
  font-size: 1.2em;
  color: map-get($map: $lol-colors, $key: 'light-gray');
  cursor: pointer;

  &:hover {
    color: map-get($map: $lol-colors, $key: 'dark-gold');
  }
}

.navbar-search-field {
  margin-left: auto;
}
