// import functions & variables
@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_variables';

@import './lolColors.scss';

$theme-colors: map-merge($theme-colors, $lol-colors);

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(11, 62, 107);
}

::-webkit-scrollbar-thumb {
  background: #a37d37;
  border: 0.08em solid rgb(0, 0, 0);
  border-radius: 5px;
}

/* text selector */
::-moz-selection {
  color: map-get($map: $lol-colors, $key: 'text-dark-blue');
  background: map-get($map: $lol-colors, $key: 'light-gold');
}

::selection {
  color: rgb(202, 6, 6);
  background: map-get($map: $lol-colors, $key: 'light-gold');
}
