// import functions & variables
@import '../../node_modules/bootstrap/scss/_functions';
@import '../../node_modules/bootstrap/scss/_variables';

$lol-colors: (
  'black': rgba(0, 0, 0, 0.65),
  'app-background': rgba(5, 27, 46, 1),
  'medium-blue': #01445b,
  'dark-blue': #01273e,
  'dark-gold': #b99149,
  'dark-gray': #838277,
  'dark-green': #09a646,
  'light-gold': #f2e59c,
  'light-gray': #d0d8cf,
  'light-blue': #049eaa,
  'light-green': #2cc467,
);

$theme-colors: map-merge($theme-colors, $lol-colors);

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(11, 62, 107);
}

::-webkit-scrollbar-thumb {
  background: #a37d37;
  border: 0.08em solid rgb(0, 0, 0);
  border-radius: 5px;
}
